*, *::before, *::after{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
:root{
	--brown:#674018;
	--brown2:#dd9b65;
	--brown3:#ffd7b6;
    /* --teal:#fac17b; */
    --teal:#fac17b;
    --lgray:#f0f0f0;
    --lbrown:#fff2da;
    --lbrown2:#fff7e7;
}
.logo img{
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	width:200px;
}
body{
	overflow-x: hidden;
}
header{
	position: fixed;
	width:20%;
	height: 100vh;
	background-color: #fac17b;
	z-index: 99999999;
	text-align: left;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.container{
	width: 100%;
	justify-content: center;
	margin: 0 auto;
	padding: 40px;
}
.menu-icons{
	color:var(--brown);
	position: relative;
	right: 20px;
	cursor: pointer;
	z-index: 2000;
	font-size: 3rem;
	display: none;
}
nav{
	width: 20%;
	height: 6rem;
}
.logo{
	justify-content: center;
	align-items: center;
	margin-right: 5rem;
	margin-top: 1rem;
}
.nav-list{
	position: fixed;
	height:100vh;
	width: 20%;
	z-index: 888888;
}
.nav-list li{
	line-height: 5rem;
	position: relative;
}
.nav-list li ul {
	z-index: 88888;
}

.sub-menu li{
	line-height: 2rem;
	font-size: .5rem;
}
.nav-list a{
	display: block;
	color:var(--brown);
	font-size: 1.2rem;
	text-transform: uppercase;
	transition: color 650ms;
	width: 100%;
}
.nav-list a:hover{
	color:white;
	scale: 1.1;
}
.nav-list i{
	position: relative;
}
.nav-list li ul a{
	color: var(--brown3);
	transition: all .3s;
	border-bottom: 1px solid var(--brown3);
	padding: 5px;
	font-size: .8rem;
}
.nav-list li ul a:hover{
	color: white;
	background-color: var(--brown);
	transition: all .3s;
}

.sub-menu{
	width: 14rem;
	display: block;
	position: absolute;
	border-top: 3px solid var(--brown);
	background-color: var(--brown2);
	z-index: 10000;
	top:16rem; 
	opacity: 0;
	visibility: hidden;
	transition: all 650ms ease;
}
.sub-menu::before{
	content: "";
	position: absolute;
	top:-2.5rem;
	left:3rem;
	border:1.2rem solid transparent;
	border-bottom-color: var(--brown); 
}
.sub-menu .sub-menu::before{
	top:.9rem;
	left:-2.5rem;
	border:1.2rem solid transparent;
	border-right-color: var(--brown);
}
.sub-menu .sub-menu{
	border-top: none;
	border-left: 3px solid var(--brown);
	top:0;
	left:120%;
}
.nav-list li:hover > .sub-menu {
	top:5rem;
	opacity: 1;
	visibility: visible;
}
.sub-menu li:hover > .sub-menu {
	top:0;
	left:101%;
}














@media screen and (max-width: 1920px){
	.nava a{
		font-size: 1.2rem;
	}
	.sub-menu{
		width: 16rem;
	}
}

@media screen and (max-width: 1440px){
	.nava a{
		font-size: 1rem;
	}
}

@media screen and (max-width: 1280px){
	.nava a{
		font-size: .9rem;
	}
}


@media screen and (max-width:934px){
	header{
		position: fixed;
		z-index: 99999999;
		position: relative;
	}
	.logo img{
		width: 200px;
		margin-top: 0;
	}
	.container{
		display: flex;
		justify-content: space-between;
	}
	header{
		background-color: rgba(255,215,182,0.9);
		width:100%;
		height: 10vh;
		position: sticky;
		top: 0;
	}
	.menu-icons{
		font-size: 2rem;
		margin-top: 30px;
		right: 0;
	}
	.nav-list{
		position: fixed;
		top:0;
		left: 0;
		padding-left: 20px;
		height:100vh;
		width: 100%;
		display: none;
		flex-direction: column;
		align-items: initial;
		background-color: var(--brown3);
		z-index: 1000;
		overflow-y: scroll;
	}
	.nava a{
		font-size: 1.1rem;
	}
	.nav-list > li{
		line-height: 6rem;
	}
	.sub-menu{
		position: initial;
		border: 3px solid transparent;
		border-left-color: var(--brown);
		margin-left: 1rem;
		max-height: 0;
	}
	.sub-menu::before{
		display: none;
	}
	.nav-list li:hover > .sub-menu{
		opacity: 1;
		visibility: visible;
		max-height: initial;
	}
	.menu-icons{
		display: block;
	}
	.fa-times-circle{
		display: none;
	}
	nav.active .fa-times-circle {
		display: block;
	}
	nav.active .fa-bars{
		display: none;
	}
	nav.active .nav-list{
		display: flex;
	}
}



@media screen and (max-width: 768px){
	.logo{
		display: flex;
	}
	.logo h2{
		margin-left: 10px;
	}
	.logo img{
		width: 100px;
		margin-left: 50px;
	}
	header{
		height: 12vh;
	}
	.container{
		padding-top: 5px;
	}
}


@media screen and (max-width: 415px){
	.logo img{
		width: 60px;
	}
	.logo h2{
		font-size: 1.2em;
	}
	.nava a{
		font-size: .9rem;
	}
	.nav-list > li{
		line-height: 4rem;
	}
	.container{
		padding: 1px;
	}
	
}
